$activeText:#409EFF;
$menuBg:#304156;
$menuHover:#263445;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$secondaryText: #4E5969;
$hoverText: #2572E5;
$defaultText: #33343B;
$tableHoverBg: #E2E8F0;
$tabsHoverBg: #E2E8F0;

$wrapPadding: 12px;
$sideBarWidth: 225px;
$sideBarMinWidth: 64px;
$primaryDisabledColor: #a0cfff;
$wrapPadding: 12px;
$sideBarWidth: 225px;
$sideBarMinWidth: 64px;
$primaryButtonBg: #2572E5;
// 一级颜色/字体大小
$firstTextColor: #2E3138;
$firstTextFontSize: 16px;

$success: #28A656;
$info: #2572E5;
$warning: #F6A723;
$error: #E21313;

$mainBackgroundColor: #1e2227;
$buttonDefaultBgColor: rgba(255, 255, 255, 0.15);
$buttonDefaultColor: rgba(255, 255, 255, 0.85);

$buttonPrimaryBgColor: #1677FF;
$buttonPrimaryColor: #fff;

$inputBorderColor: rgba(255, 255, 255, 0.2);

$borderDefaultColor: rgba(255, 255, 255, 0.08);

$defaultTextColor: rgba(0, 0, 0, 0.88);
$defaultBorderColor: rgba(0, 0, 0, 0.15);